<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>IoT Coffee Maker App | The Brew Crew</title>
        <meta name="author" content="Anthony Stem, Matthew Hodges, Simon Garen">
        <meta name="description" content="Flask app webpage for the Brew Crew's IoT Coffee Maker.">
        <link rel="stylesheet" href="../static/css/styles.css" type="text/css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>

    <body>
        <!-- Navigation Bar -->
        <header class="navigation-bar">
            <section class="logo">
                <h3>The Brew Crew</h3>
            </section>
            <nav class="navigation-links">
		    <a class="home-button" href="{{ url_for('index') }}">Home</a>
            </nav>
        </header>

        <!-- Landing/Menu Buttons -->
        <div class="landing">
            <div class="landing-text">
                <h1 class="landing-message">Scheduler Menu</h1>
            </div>

            <nav class="scheduler-buttons">
		    <a class="scheduler-menu-button" id="scheduler-direct" href="{{ url_for('scheduler') }}">
                    <i class="fa fa-calendar" aria-hidden="true"></i><p>Schedule a Time</p>
                </a>
		<a class="scheduler-menu-button" id="scheduler-calendar-direct" href="{{ url_for('schedulercalendar') }}">
                    <i class="fa fa-database" aria-hidden="true"></i>
                    <p>View Schedule</p>
                </a>
            </nav>
        </div>
